body{
  background-color: rgb(40, 3, 40);
  color: white;
}
#root {
margin: 0%;
padding: 0%;
box-sizing: border-box;
padding: 5px;
}
 a{
  color: white;
  text-decoration: none;
 }
li{
  list-style-type: none;
}

